# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
venv/
.env

# Django
*.sqlite3
media/
staticfiles/
*.log

# Node
node_modules/
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db